body{
	padding: 0;
	margin: 0;
}
header {
	
}
.bg{
 width: 1800px;
 display: block;
 margin: 0 auto;
}
.container{
	width: 1310px;
	margin: 0 auto;
}
.face{
	margin-top: 30px
} 
.twit{
	margin-top: 30px
} 
.inst{
	margin-top: 30px
} 
.logo{
	display: block;
  margin: 0 auto;
  margin-top: -50px;
}
.phone{
	float: right;
	margin-top: -150px
}

.menu{
	padding: 0;
	margin: 0;
	display: block;
}
.menu li{
	float: left;
	display: block;
	margin-right: 55px;
}
.menu li a{
	color:#000;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 15px;
}

}